/* public/style.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: beige;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #startButton {
    background-color: #4CAF50;
    color: white;
    padding: auto;
    border: #333;
  }
  
  #stopButton {
    background-color: #f44336;
    color: white;
    padding: auto;
  }
  
  #botStatus {
    font-weight: bold;
  }
  
  h2 {
    margin-top: 30px;
    color: #333;
  }
  